body{
    background-color: rgba(0, 183, 255, 0.685);
    font:normal 15pt arial;
}
header{
    text-align: center;
    color:white;
    
}
section{
    background-color: white;
    border-radius: 10px;
    padding:15px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.59);
}
main{
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}
img{
    border-radius: 50%;
    max-width: 250px;
    height:250px;
    display: block;
    margin: auto;
}
div{
    padding: 5px;
    text-align: center;
    margin:auto;
}
footer{
    color:white;
    text-align: center;
    font-style: italic;
}